@import '../../../../../../styles/constants.scss';

.title-video {
}

.title-video__link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 2rem;
  font-size: 0.875rem;
  text-decoration: none;
  outline: none;
  color: $categoryTextColor;

  .title-video:hover & {
    text-decoration: underline;
  }
}
