{
  "presets": [
    ["es2015", {
      "modules": false
    }],
    "react",
  ],
  "plugins": [],
  "env": {
    "development": {
      "presets": [],
      "plugins": []
    },
    "production": {
      "presets": [],
      "plugins": []
    }
  }
}
