{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "mocha": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    // "quotes": ["error", "double" /*, { "avoidEscape": true }*/],
    "import/no-unresolved": "off"
  }
}
