@import '../../../../../../../styles/constants.scss';

.tags-tag {
}

.tags-tag__common {
  display: inline-block;
  vertical-align: text-bottom;
}

.tags-tag__label {
  composes: tags-tag__common;
  margin-right: 0.2rem;
  width: 1rem;
  height: 1rem;
}


