@import '../../../../../../styles/constants.scss';

.breadcrums-category {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 10px 0;
}

//@media (max-width: 900px) {
//  .breadcrums-category {
//    float: none;
//    &:after {
//      clear: both;
//    }
//  }
//}
