@import './constants.scss';

//button
.button-wrapper {
  padding: 0.25rem 0;
}
button.btn-default{
  position: relative;
  border: none;
  border-radius: 2px;
  font-size: .875rem;
  line-height: 2rem;
  padding: 0 1rem;
  margin-left: 1rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
button.btn-as-text{
  padding: 0;
  font-size: .875rem;
  border: none;
  outline: 0;
  background: 0 0;
  box-shadow: none;
  cursor: pointer;
  color: $categoryTextColor;
}
//end ----- button





