.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.flexbox--flex-direction--column {
  flex-direction: row;
}

.flexbox--justify-content--center {
  justify-content: center;
}

