.player {
  background-color: #000;

  .container {
    .wrap-container {
      @media (max-device-width: 1170px) {
        padding: 0;
      }
    }
  }

  .responsive-wrapper-iframe {
    margin: 0 auto;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}