.label-for-checkbox {
  position: absolute;
  text-align: right;
  font-size: 2rem;
  right: 0;
  top: 6px;
  color: white;
}
// checkbox hide always
.checkbox-for-menu {
  display: none;
}

.checkbox-for-menu + * {
  display: none;
}

.checkbox-for-menu:checked  + * {
  display: block;
}
