//.label-for-checkbox {
//  display: block;
//}
// checkbox hide always
.checkbox-for-menu {
  display: none;
}

.checkbox-for-menu + * {
  display: none;
}

.checkbox-for-menu:checked + * {
  display: block;
}
