.label-for-checkbox {
  position: absolute;
  text-align: right;
  font-size: 2rem;
  right: 0;
  top: 6px;
  color: white;
}
// checkbox hide always
.checkbox-for-menu {
  display: none;
}

.checkbox-for-menu ~ div {
  display: none;
}

.checkbox-for-menu:checked  ~ div {
  display: block;
}

.checkboxForMenu1 {
  display: none;
}

.checkbox-for-menu:checked  ~ label {
  transform: rotateZ(90deg);
}
