@import '../../../../../../../../styles/constants.scss';

.comment {
  display: block;

  & > .comment {
    margin: 0.5rem 0 0 0.5625rem;
    //border-bottom: 1px solid #d6d6d6;
    //padding-bottom: 0.5rem;

    .comment__body {
      background-color: $breadcrumsBackgroundColor;
      border-radius: 2px;
      padding: 0.25rem;
    }
  }
}

.comment__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.comment__author-logo {
  flex: 0 1 0;
  width: 40px;
  height: 40px;
  border-radius: 2px;
}

.comment__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;

  margin-left: 0.5rem;
  padding: 0.25rem 0.25rem 0.25rem 0;
}

.comment__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.comment__author {
  color: $categoryTextColor;
  text-decoration: none;
  outline: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.comment__date-ago {
  padding-left: 1rem;
  font-size: 0.75rem;
}

.comment__text {
  margin: 0.5rem 0 0;
  color: $categoryTextColor;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

//& > .comment {
//  margin: 0.5rem 0 0 0.5625rem;
//  .body {
//    background-color: $breadcrumsBackgroundColor;
//    border-radius: 2px;
//    padding: 0.25rem;
//  }
//}

//& > .comment {
//  border-bottom: 1px solid #d6d6d6;
//  margin: 0.5rem 0;
//  padding-bottom: 0.5rem;
//}

.comment.comment-add-reply-wrapper {
  border-bottom: none;

  form.comment {
    max-width: 100%;
  }
  textarea {
    font-size: 1rem; //0.875rem;
    border-radius: 2px;
    border-color: $categoryTextColor;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
  }
  /*&:after {
    content: normal;
  }*/
}
