@import '../../../../../../../styles/constants.scss';

.comments {
  margin: 0.5rem 0;
}

.comments__title {
  color: $categoryTextColor;
  margin: 1rem 0;
}

//.comments {
//  img {
//    width: 40px;
//    height: 40px;
//    border-radius: 2px;
//  }
//}
