@import '../../../../../../styles/constants.scss';

.nav-header-badge {
  position: absolute;
}

li.nav-header-favorite {
  float: left;
  list-style: none;
  position: relative;

  a {
    display: block;
    padding: 2px 2px;
    margin: 5px 4px;
    text-decoration: none;
    position: relative;
    .nav-header-text {
      display: none;
      vertical-align: middle;
      color: $searchTextColor;
      padding: 0 1rem;
    }
    .nav-header-badge {
      position: absolute;
      top: 0;
      right: -5px;
      padding: 1px 2px 2px 1px;
      border-radius: 100px;
      background: $badgeBackgroundColor; //-webkit-linear-gradient(top, #FF6969 0%, #ff0000 100%);
      -webkit-background-clip: padding-box;
      font-size: 0.5625rem;
      color: white;
      text-decoration: none;
    }
    svg {
      width: 2rem;
      height: 2rem;
      display: inline;
      vertical-align: middle;
    }
    &:hover .nav-header-text {
      color: $reduxColor;
      text-decoration: underline;
    }
  }
}

//menu style for mobile
@media (max-width: 500px) {
  .label-for-checkbox {
    display: block;
  }
  ul.nav-header-search-favorite {
    clear: both;
    float: none;
    li {
      display: none;
    }
  }
  .checkbox-for-menu:checked + ul.nav-header-search-favorite {
    padding-top: 1rem;

    li.nav-header-favorite:first-child {
      border-top: none;
    }

    li.nav-header-favorite {
      display: block;
      float: none;
      border-top: 1px solid $menuBorderColor;
      text-align: center;

      .nav-header-badge {
        top: 0;
        padding: 5px 4px;
        font-size: 0.75rem;
      }

    }
    li.nav-header-favorite {
      a {
        div {
          display: none;
        }
        .nav-header-text {
          display: inline;
          padding: 0;
        }
      }
    }
  }
}

