@import '../../../../../../styles/constants';

.video {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.video__clip {
  flex: 2 0 0;
  padding: 0 1rem;

  @media (min-width: 768px) {
    //margin-right: 384px;
    //padding: 0 1rem;
  }
}

.video__related {
  flex: 1 0 0;
  //padding: 0 1rem;

  @media (min-width: 768px) {
    //margin-right: 384px;
  }
}

