@import '../../../../../../styles/constants';

.video {
  display: block;
}

.video__clip-wrap {
  box-sizing: border-box;

  @media (min-width: 768px) {
    width: 100%;
    margin-right: -400px;
    float: left;
  }
}

.video__clip {
  margin-right: 384px;
}

.video__related {
  margin: 1rem 0;
  box-sizing: border-box;
  @media (min-width: 768px) {
    float: right;
    width: 400px;
  }

  //flex: 1 0 0;
  //padding: 0 1rem;

  @media (min-width: 768px) {
    //margin-right: 384px;
  }
}

