@import '../../../../../../styles/constants.scss';

.menu-mobile {
  display: flex;
  align-items: center;

  position: relative;
  // width: 10rem;
  padding-top: 1rem
}

.menu-mobile__item {
  font-size: 1rem;

  &:not(:first-child) {
    border-top: 1px solid $menuBorderColor;
  }
}

.menu-mobile__search {
  composes: menu-mobile__item;
}

.menu-mobile__favorite {
  composes: menu-mobile__item;
}

.menu-mobile__logout {
  composes: menu-mobile__item;
}

.menu-mobile__link {
  display: block;
  padding: 2px 2px;
  margin: 5px 4px;
  text-decoration: none;
  position: relative;
}

.menu-mobile__span {
  color: $searchTextColor;
  padding: 0 1rem;

  .menu-mobile__link:hover & {
    color: $reduxColor;
    text-decoration: underline;
  }
}


