@import '../../../../../../../styles/constants';

.related-video-list {
  box-sizing: border-box;
  color: $categoryTextColor;
}

.related-video-list__title {
  padding: 0 1rem;
}
//
//.related-video-list__video-list {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//  align-items: stretch;
//  flex-wrap: wrap;
//  box-sizing: border-box;
//}
