@import '../../../../../../../styles/constants';

.related-video-list {
  margin: 1rem 0;
  box-sizing: border-box;
  color: $categoryTextColor;

  @media (min-width: 768px) {
    //float: right;
    //width: 400px;
  }
}

.related-video-list__title {

}

.related-video-list__video-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  box-sizing: border-box;
}
