@import '../../../../../styles/constants.scss';

.breadcrums-filter {
  background-color: $breadcrumsBackgroundColor;
}

.breadcrums-filter__container {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 50px;
}
